* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  border: 1px solid #000;
  display: flex;
  flex: 0 0 10px;
  max-width: 50vmin;
  max-height: 50vmin;
  flex-wrap: wrap;
  text-align: center;
  margin: 15px auto;
}

.container > div {
  border: 1px solid #000;
  width: 6.25%;
  height: 30px;
  padding-top: 10px;
}

.container > .red {
  background-color: red;
}
