* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 40vw;
  aspect-ratio: 1;
  margin: 20px auto;
  background-color: rgb(223, 203, 203);
  border: 1px solid #000;
  display: flex;
  flex-wrap: wrap;
}

.div {
  border: 1px solid brown;
  width: 1%;
  aspect-ratio: 1;
}

.black {
  background-color: black;
}

.form {
  text-align: center;
  margin-top: 15px;
}
